#contact {
    background-color: #fafbfc;
}

.contact-flex {
     display: flex;
  gap: 2%;
  justify-content: space-between;
}

.contact-form-container {
    width: 100%;
}

.contact-form-card {
    width: 90%;
  padding: 2rem;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;

}

.contact-form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-form-label {
    display: block;
    font-weight: 600;
}

.contact-form-input {
    width: 100%;
}


.contact-info-container {
    width:80%;
}

.contact-info-card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}