.theme-toggle {
  position: static;
  color: black;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dark-theme .theme-toggle {
  color: #fff;
}

@media (max-width: 767px) {
  .theme-toggle {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
    margin: 0;
  }
}
